#menu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 300px;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 30px 20px 20px;
  cursor: pointer;
  align-self: flex-end;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #dc052d;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.hamburger {
  line-height: 50px;
  transition: 0.3s ease;
  margin-left: 00px;
  display: none;
}

.hamburger li {
  list-style: none;
  /* padding: 12px 0; */
}

.hamburger li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.hamburger li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 1%;
  right: 2%;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  position: fixed;
  width: 0;
  height: 0;
  margin: 30px 30px 20px 0px;
  background: radial-gradient(circle, #dc052d, #dc052d);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(35%, -20%);
}
